.login{
  background-color: #7D80B5 ;
  height: 100% ;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.content-card-login{
  margin: 0% 15% 0% 15%;
  background-color: #E2D9CA;
}

.card-login{
  padding-top: 10%;
  background-color: #E2D9CA;
  text-align: center !important;
  border: 10%;
}

mat-card-title{
  color:#008EA2;
  font-size: 50px;
}

mat-card-content{
  margin-top: 2%;
}
mat-label{
  color: #008EA2;
}
