.home{
  background-color: #E2D9CA;
  // height: 100%;
}

.img-card-login{
  background-color: transparent;
  width: 15%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

mat-card{
  background-color: transparent !important;
  max-width: 50%;
  margin-bottom: 2%;
  flex-wrap: nowrap;
  margin-left: 25%;
}
